body {

    background-image: url("../img/fondo4.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;

}

.transparente{
    background-color: rgba(255, 255, 255, 0.5);;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.transparenteboton{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.cartas{
    margin-top: 14vh;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }